<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="tudskee_connection" connectionString="server=localhost;user id=tudskee;password=tudskee01;database=tudskee_erp"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
